<html>

<head>
    <title>Arbit - Random number generator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/bootstrap.min.css') }}">
    <style>
        hr{
            margin-top: 0px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Arbit</h1>
        <p class="lead">An API for Random Number Generation.</p>

        <p>Arbit (lazily spelled version of <i>Arbitrary</i>) is a simple random number generator for number of scenarios being
            delivered via API.</p>

        <h3>Ratio</h3>
        <hr>
        <p>Generates a ratio/float number (eg. <code>0.8057532537386616</code>).</p>
        <pre>
Waypoint: /ratio
Method: GET
Request URL: /ratio
Response: {
            "result": 0.8057532537386616,
            "timestamp": 1577370881.1212497
        }
</pre>

        <p>Generates an array of ratio (eg.
            <code>0.4060520382255244, 0.7223434561885743, 0.08803317829864132, 0.4463011129852972, 0.5861838877722955</code>).
        </p>
        <pre>
Waypoint: /ratio/[size]
Method: GET
Request URL: /ratio/5
Response: {
            "result": [
                0.4060520382255244,
                0.7223434561885743,
                0.08803317829864132,
                0.4463011129852972,
                0.5861838877722955
            ],
            "timestamp": 1577371703.395178
        }
</pre>

        <h3>Dice</h3>
        <hr>
        <p>Generates a dice roll number (eg. <code>5</code>).</p>
        <pre>
Waypoint: /dice
Method: GET
Request URL: /dice
Response: {
            "result": 5,
            "timestamp": 1577372639.1929116
        }
</pre>

        <p>Generates an array of dice roll number (eg.
            <code>1, 3, 2, 1, 6</code>).
        </p>
        <pre>
Waypoint: /ratio/[size]
Method: GET
Request URL: /ration/5
Response: {
            "result": [
                1,
                3,
                2,
                1,
                6
            ],
            "timestamp": 1577372673.321056
        }
</pre>


        <h3>Deck</h3>
        <hr>
        <p>Picks a card from deck (eg. <code>Eight of Spades</code>).</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Acronym</th>
                    <th>Term</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>H</td>
                    <td>Heart (Suit)</td>
                </tr>
                <tr>
                    <td>S</td>
                    <td>Spades (Suit)</td>
                </tr>
                <tr>
                    <td>D</td>
                    <td>Diamond (Suit)</td>
                </tr>
                <tr>
                    <td>C</td>
                    <td>Clubs (Suit)</td>
                </tr>
                <tr>
                    <td>A</td>
                    <td>Ace (Suit)</td>
                </tr>
                <tr>
                    <td>J</td>
                    <td>Jack</td>
                </tr>
                <tr>
                    <td>K</td>
                    <td>King</td>
                </tr>
                <tr>
                    <td>Q</td>
                    <td>Queen</td>
                </tr>
            </tbody>
        </table>
        <pre>
Waypoint: /deck
Method: GET
Request URL: /deck
Response: {
            "result": {
                "number": "8",
                "suite": "S"
            },
            "timestamp": 1577372820.5940137
        }
</pre>

        <p>Generates an array of picks from card deck (eg.
            <code>Jack of Diamond, Queen of Clubs, Ace of Clubs, Seven of Spades, Four of Spades</code>).
        </p>
        <pre>
Waypoint: /ratio/[size]
Method: GET
Request URL: /ration/5
Response: {
            "result": [
                {
                    "number": "J",
                    "suite": "D"
                },
                {
                    "number": "Q",
                    "suite": "C"
                },
                {
                    "number": "A",
                    "suite": "C"
                },
                {
                    "number": "7",
                    "suite": "S"
                },
                {
                    "number": "4",
                    "suite": "S"
                }
            ],
            "timestamp": 1577372905.3418844
        }
        </pre>

        <h3>Integer</h3>
        <hr>
        <p>Generates a random integer between 0 to 99 (eg. <code>36</code>).</p>
        <pre>
Waypoint: /integer
Method: GET
Request URL: /integer
Response: {
            "result": 36,
            "timestamp": 1577372639.1929116
        }
</pre>
<p>Generates a random integer between 0 to specified maximum value (eg. <code>4</code> between 0-10).</p>
<pre>
Waypoint: /integer/[max]
Method: GET
Request URL: /integer/10
Response: {
            "result": 4,
            "timestamp": 1577372890.1929116
        }
</pre>
        <p>Generates a random integer between specified minimum and maximum value (eg. <code>8</code> from range 5-10).</p>
        <pre>
Waypoint: /integer/[min]/[max]
Method: GET
Request URL: /integer/5/10
Response: {
            "result": 8,
            "timestamp": 1577373019.1929116
        }
</pre>
        <p>Generates an array of random integer between 0 to 99 (eg. <code>1, 33, 8, 6, 88</code>).</p>
        <pre>
Waypoint: /integer/n/[size]
Method: GET
Request URL: /integer/n/5
Response: {
            "result": [
                1,
                33,
                8,
                6,
                88
            ],
            "timestamp": 1577376078.8341732
        }
</pre>
        <p>Generates an array of integer between 0 to specified maximum value (eg. <code>20,11,8,40,11</code> between 0-50).</p>
        <pre>
Waypoint: /integer/[max]/n/[size]
Method: GET
Request URL: /integer/50/n/5
Response: {
            "result": [
                20,
                11,
                8,
                40,
                11
            ],
            "timestamp": 1577376235.2256374
        }
</pre>
        <p>Generates an array of random integer between specified minimum and maximum value (eg. <code>8</code> between 5-10).</p>
        <pre>
Waypoint: /integer/[min]/[max]/n/[size]
Method: GET
Request URL: /integer/5/10/n/5
Response: {
            "result": [
                6,
                7,
                5,
                6,
                9
            ],
            "timestamp": 1577376336.0993845
        }
</pre>

        <h3>Float</h3>
        <hr>
        <p>Generates a random float between 0 to 99 (eg. <code>23.053318383822017</code>).</p>
        <pre>
Waypoint: /float
Method: GET
Request URL: /float
Response: {
			"result": 23.053318383822017,
			"timestamp": 1577377604.1272302
		}
</pre>
		<p>Generates a random float between 0 to specified maximum value (eg. <code>2.9832973745713587</code> between 0-10).</p>
		<pre>
Waypoint: /float/[max]
Method: GET
Request URL: /float/10
Response: {
			"result": 2.9832973745713587,
			"timestamp": 1577378310.679599
		}
</pre>
        <p>Generates a random float between specified minimum and maximum value (eg. <code>7.314074340121515</code> from range 5-10).</p>
        <pre>
Waypoint: /float/[min]/[max]
Method: GET
Request URL: /float/5/10
Response: {
			"result": 7.314074340121515,
			"timestamp": 1577378348.2519357
		}
</pre>
        <p>Generates an array of random float between 0 to 99 (eg. <code>1.9450255805004282, 61.92280800797291, 41.85914214745469, 93.8172051811137, 25.45609341971064</code>).</p>
        <pre>
Waypoint: /float/n/[size]
Method: GET
Request URL: /float/n/5
Response: {
			"result": [
				1.9450255805004282,
				61.92280800797291,
				41.85914214745469,
				93.8172051811137,
				25.45609341971064
			],
			"timestamp": 1577378402.8522673
		}
</pre>
        <p>Generates an array of float between 0 to specified maximum value (eg. <code>9.064950325955225, 3.4132496692675707, 1.2844241113079014, 2.6765697910059916, 0.07970961474096039</code> between 0-10).</p>
        <pre>
Waypoint: /float/[max]/n/[size]
Method: GET
Request URL: /float/10/n/5
Response: {
			"result": [
				9.064950325955225,
				3.4132496692675707,
				1.2844241113079014,
				2.6765697910059916,
				0.07970961474096039
			],
			"timestamp": 1577378455.3728857
		}
</pre>
        <p>Generates an array of random float between specified minimum and maximum value (eg. <code>7.135951319183798, 7.648329940982908, 8.892773190520067, 5.8627358636851845, 7.100143100361123</code> between 5-10).</p>
        <pre>
Waypoint: /float/[min]/[max]/n/[size]
Method: GET
Request URL: /float/5/10/n/5
Response: {
			"result": [
				7.135951319183798,
				7.648329940982908,
				8.892773190520067,
				5.8627358636851845,
				7.100143100361123
			],
			"timestamp": 1577378587.6065736
		}
</pre>

    </div>
</body>

</html>
